[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "*"
"pyqt5" = "*"
certifi = "==2018.8.24"
chardet = "==3.0.4"
idna = "==2.7"
nlzss = "==0.1.2"
pycrypto = "==2.6.1"
pytz = "==2018.5"
requests = "==2.19.1"
"urllib3" = "==1.23"
gunicorn = "*"
django-heroku = "*"
Django = ">=2.1.2"
Pillow = "==8.3.2"
"Wii.py" = "==0.1"

[dev-packages]

[requires]
python_version = "3.9.18"
