<p>This randomizer shuffles around all 130+ items in Zelda 1.  This includes the 10 dungeon staircase items (bow, raft, ladder, recorder, wand, red candle, magical key, book, red ring, and silver arrows) as well as all rooms' standing items and drops (including bombs, boomerangs, keys, 5 rupees, heart containers, maps, compasses, and triforce pieces).  Other items, such as from the overworld, can also be optionally be added to the item shuffle pool as well. </p>

<p>However, there are some important things to note about the shuffling:
<ul>
    <li>Levels 1-8 will contain exactly one map, compass, and triforce piece each.</li>
    <li>Level 9 will contain one map and compass.  The Triforce of Power and Princess Zelda are not randomized.</li>
    <li>Dungeon rooms with water will not contain the ladder or an item necessary to obtain the ladder.</li>
    <li>The Magical Sword will never be a standing item in a dungeon room but may be an item that's dropped after all enemies are defeated.</li>
    <li>While it's unlikely, you may be required to buy keys in order to progress in a seed.</li>
</ul>
