{% extends 'randomizer/layouts/default.html' %}

{% block content %}
    <h1>What is the Zelda 1 Web Randomizer?</h1>
    <div class="well">
        <p>A program that can shuffle over 150 different items in The Legend of Zelda.  This includes:
          <ul>
            <li> Items in dungeon stairway rooms (bow, raft, ladder, recorder, etc.)
            </li>
            <li> Dungeon room drops and standing items (boomerangs, heart containers, keys, bombs, 5 rupees)
            </li>
            <li> Maps, compasses, and Triforce pieces within each dungeon.
            </li>
            <li> Shop items (wood arrows, white sword, magical sword, blue ring, etc.)
            </li>
            <li> Miscelanious Overworld items (The Power Bracelet and ladder heart          container).
            </ul>
        </p>
        <p>This program wouldn't have been been made without the work of several people:</p>
        <ul>
            <li>wolfman2000 and cantfindbombs for adding new features
            </li>
            <li>gscookie and CloudyShoe for their testing and bug reports
            </li>
            <li><a href="https://github.com/DorkmasterFlek" target="_blank">Dorkmaster Flek</a>, Veetorp, and the <a href="http://alttpr.com/" target="_blank">Link to the Past
                randomizer</a> community for their excellent work on web-based ROM patching, much of which was copied with permission.
            </li>
            <li> fcoughlin for his work his <a href="https://sites.google.com/site/zeldarandomizer/">Zelda Randomizer</a> that provided much of the inspiration for creating this randomizer.
            </li>
        </ul>
    </div>
    <h1>Woah cool! Where do I download this?</h1>
    <div class="well">
        <p>You don't! This new Zelda Randomizer is entirely web-based. You simply provide your original ROM to the site, and
            it does the rest. No downloading required! Click the "Generate Randomized Game" link above to get
            started!</p>
    </div>
    <h1>Sweet! How do I play this thing?</h1>
    <div class="well">
        <p>Click the "How To Play" link above to see more details about how to actually play the randomized game!</p>
    </div>
    <h1>Awesome! Can I play with others?</h1>
    <div class="well">
        <p>Yes! Join the #item-randomizer-discussion channel on the
            <a href="https://discord.gg/NJXayH2" target="_blank">Zelda 1 Randomizer Discord</a>! For other useful resources, including maps of each level indicating which rooms contain drops that are randomized, see the <a
                    href="https://www.sites.google.com/site/zeldaanypercents/zelda-1-randomizer" target="_blank">zeldaanypercents site</a>.</p>
    </div>
{% endblock %}
