{% extends 'randomizer/layouts/default.html' %}
{% load static %}

{% block content %}
    {% include 'randomizer/_rom_base.html' %}
    {% include 'randomizer/_rom_loader.html' %}

    <div id="seed-generate" class="panel panel-success" style="display:none">
        <div class="panel-heading panel-heading-btn">
            <h3 class="panel-title pull-left">Generate Randomized Game (v{{ version|default:'UNKNOWN' }})</h3>
            <div class="btn-toolbar pull-right">
                {% include 'randomizer/_rom_settings_button.html' %}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 pb-5">
                    <div class="input-group" role="group">
                        <span class="input-group-addon">Randomization Mode</span>
                        <select title="" id="mode" class="form-control">
                            <option value="full">Full</option>
                            <option value="custom">Custom</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel panel-info panel-collapse collapse" id="custom-mode-settings">
                <div class="panel-heading">
                    <h4 class="panel-title">Custom Mode Settings</h4>
                </div>
                <div class="panel-body">
                    {% for flag in flags %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <input id="{{ flag.0 }}" type="checkbox" value="true" checked
                                       data-toggle="toggle"
                                       data-on="Yes" data-off="No" data-size="small" class="custom-mode-checkbox">
                                <label for="{{ flag.0 }}">{{ flag.1 }}</label>
                            </div>
                            <div class="panel-body">
                                <p>{{ flag.2 }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pb-5">
                    <div class="input-group" role="group">
                        <span class="input-group-addon">Seed</span>
                        <input type="text" id="seed" class="seed form-control" placeholder="random">
                        <span class="input-group-btn">
                            <button id="seed-clear" class="btn btn-default" type="button"><span
                                    class="glyphicon glyphicon-remove"></span></button>
					    </span>
                    </div>
                </div>
            </div>
            {% include 'randomizer/_rom_settings.html' %}
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group btn-flex" role="group">
                        <button name="generate" class="btn btn-success generate-btn" disabled>Generate ROM</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="seed-details" class="info panel panel-info" style="display:none">
        <div class="panel-heading"><h3 class="panel-title">Game Details</h3></div>
        <div class="panel-body">
            {% include 'randomizer/_rom_info.html' %}
            <div class="col-md-6">
                <div class="row">
                    <button name="save_rom" class="btn btn-success btn-save-rom" disabled>Save Rom</button>
                </div>
            </div>
        </div>
    </div>
    <form id="config" style="display:none">
        {% csrf_token %}
        <input type="hidden" name="region" id="form_region" value=""/>
        <input type="hidden" name="seed" id="form_seed" value=""/>
        <input type="hidden" name="mode" id="form_mode" value="full"/>
        {% for flag in flags %}
            <input type="hidden" name="{{ flag.0 }}" id="form_{{ flag.0 }}" value="true"/>
        {% endfor %}
        <input type="hidden" name="debug_mode" id="form_debug_mode" value="false"/>
    </form>

    <script>
        function applySeed(rom, seed) {
            return new Promise(function (resolve, reject) {
                $("#form_region").val(rom.region);
                $("#form_seed").val(seed);
                $.post("{% url 'randomizer:generate' %}", $("#config").serialize(), function (patch) {
                      rom.parsePatch(patch.patch);
                      resolve({rom: rom, patch: patch});
                }, "json").fail(reject);
            });
        }

        function seedFailed() {
            $(".generate-btn").html("Generate ROM").prop("disabled", false);
            $(".alert .message").html("Failed Creating Seed :(");
            $(".alert").show().delay(2000).fadeOut("slow");
        }

        function seedApplied(data) {
            return new Promise(function (resolve) {
                $(".generate-btn").html("Generate").prop("disabled", false);
                $(".btn-save-rom").prop("disabled", false);
                parseInfoFromPatch(data.patch);
                data.rom.logic = data.patch.logic;
                data.rom.mode = data.patch.mode;
                data.rom.debug_mode = data.patch.debug_mode;
                data.rom.seed = data.patch.seed;
                data.rom.hash = data.patch.hash;
                resolve(rom);
            });
        }

        $(function () {
            $("#seed-clear").click(function () {
                $("#seed").val("");
            });

            // Randomization mode
            $("#mode").change(function () {
                $(".info").hide();
                localforage.setItem("rom.mode", $(this).val());
                $("#form_mode").val($(this).val());
                if ($(this).val() === "custom") {
                    $("#custom-mode-settings").collapse("show");
                } else {
                    $("#custom-mode-settings").collapse("hide");
                }
            }).change();
            localforage.getItem("rom.mode").then(function (value) {
                if (value === null) return;
                $("#mode").val(value).change();
            });

            // Custom mode settings
            $(".custom-mode-checkbox").each(function (index, elem) {
                var elem_id = $(elem).attr("id");
                var form_id = "form_" + elem_id.replace(/-/g, "_");
                var key = "rom." + elem_id.replace(/-/g, "_");

                $(elem).change(function () {
                    $(".info").hide();
                    localforage.setItem(key, $(this).prop("checked"));
                    $("#" + form_id).val($(this).prop("checked"));
                });
                localforage.getItem(key).then(function (value) {
                    if (value === null) return;
                    $(elem).prop("checked", value).change();
                });
            });

            // Generate button
            $(".generate-btn").click(function () {
                $(".info").hide();
                $(this).html("Generating...").prop("disabled", true);
                resetRom().then(function (rom) {
                    applySeed(rom, $("#seed").val()).then(seedApplied, seedFailed);
                });
            });

            // Save ROM button
            $(".btn-save-rom").click(function () {
                return rom.save(rom.makeFilename("nes"));
            });
          });
    </script>
{% endblock %}
