{% extends 'randomizer/layouts/default.html' %}

{% block content %}
    <h1>Update History</h1>
    <h2>V1 Updates</h2>
    <div class="well">
        <ul>This is the initial version of the web randomizer, which makes it more convenient to randomize ROMs and added several toggle flags:
            <li>Added flags for controlling randomization of certain overworld items</li>
            <li>Added a flag for Swapping items with the select button.</li>
            <li>Added a flag for randomizing the "LEVEL-" text in dungeons.</li>
            <li>Added a flag to speed up text scrolling speed.</li>
        </ul>
    </div>
{% endblock %}
